recursive-include docs *
prune book
prune docs/source/_build
prune docs/source/_templates
prune tests/tmp
prune annolid/motion/weights
prune annolid/detector/yolov5/weights/last.pt
prune annolid/detector/YOLOv3/weight/yolov3-tiny.weights
prune docs/tutorials/Untitled.ipynb
prune docs/tutorials/.ipynb_checkpoints
include environment.yml
recursive-include annolid/configs 
recursive-include annolid/annotation