pyyaml>=5.3
easydict>=1.9
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.4.0+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.5.0+cpu
decord>=0.4.0
opencv-python>=4.1.2.30
opencv-contrib-python>=4.1.2.30
pycocotools>=2.0.2
simplification>=0.5.12