name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    if: startsWith(github.ref, 'refs/tags/')

    runs-on: ubuntu-latest

    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      release_id: ${{ steps.create_release.outputs.id }}
      release_url: ${{ steps.create_release.outputs.html_url }}

    steps:
      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        id: create_release
        uses: mikepenz/action-gh-release@v0.2.0-a03
        with:
          body: ${{steps.github_release.outputs.CHANGELOG}}

  publish:
    needs: [release]

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: '3.11'

      - name: Install project and build tooling
        shell: bash -l {0}
        run: |
          pip install --upgrade pip
          pip install . pyinstaller

      - name: Run pyinstaller
        shell: bash -l {0}
        run: |
          pyinstaller annolid.spec

      - name: Upload release executable on macOS & Linux
        id: upload_release_executable_macos_linux
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./dist/annolid
          asset_name: annolid-${{ runner.os }}
          asset_content_type: application/octet-stream
        if: runner.os != 'Windows'

      - name: Upload release executable on Windows
        id: upload_release_executable_windows
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./dist/annolid.exe
          asset_name: Annolid.exe
          asset_content_type: application/octet-stream
        if: runner.os == 'Windows'

      - name: Create dmg for macOS
        run: |
          npm install -g create-dmg
          cd dist
          create-dmg Annolid.app || test -f Annolid\ 0.0.0.dmg
          mv Annolid\ 0.0.0.dmg Annolid.dmg
        if: runner.os == 'macOS'

      - name: Upload release app on macOS
        id: upload_release_app_macos
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./dist/Annolid.dmg
          asset_name: Annolid.dmg
          asset_content_type: application/octet-stream
        if: runner.os == 'macOS'
